a {
  text-decoration: none;
  color: #3b444b;
}

a:active {
  color: #53c1de;
}

a:visited {
  color: #232b2b;
}

a:hover {
  color: #53c1de;
}

h3 {
  margin-top: 0;
}

pre {
  background-color: #292a2b;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}

.App {
  min-height: 100vh;
  display: grid;
  background-color: #fafafa;
  grid-template-columns: 0.5fr 100px 200px 60% 200px 100px 0.5fr;
  grid-template-rows: 125px 1fr 1fr;
  grid-template-areas:
    "nav1 nav2 nav3 nav4 nav5 nav6 nav7"
    ". menu menu content . . ."
    ". . . content . . .";
}

.site-nav {
  grid-column: nav1 / nav7;
  display: grid;
  background-color: #fafafa;
  grid-template-columns: 0.5fr 100px 200px 60% 200px 100px 0.5fr;
  grid-template-areas: "nav1 nav2 nav3 nav4 nav5 nav6 nav7";
  border-bottom: 2px solid rgb(238, 238, 238);
}

.site-nav-content {
  grid-column: nav2 / nav6;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-logo {
  grid-area: nav;
  height: 80px;
  transition: all 0.3s ease;
  transform-origin: 50% 50%;
  cursor: pointer;
}

.site-logo:hover {
  transform: scale(1.15) rotate(60deg);
}

.site-nav-link {
  margin-right: 350px;
  font-size: 1.5rem;
  transition: all 0.2s ease;
  padding: 16px 0;
}

.site-menu {
  grid-area: menu;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.site-menu h3 {
  color: #3b444b;
}

.site-menu a {
  margin: 5px 0;
  transition: all 0.2s ease;
}

.site-content {
  grid-area: content;
  background-color: white;
  padding: 50px;
}

.snippet-sample-container {
  display: flex;
  justify-content: space-between;
}

.snippet-sample-container p {
  width: 35%;
  margin-top: 50px;
}

.snippet-code {
  white-space: pre-wrap;
}

.snippet-output {
  width: 30%;
  margin-top: 15px;
}

.site-snippet-button {
  background-color: #53c1de;
  color: white;
  border: none;
  padding: 10px 20px;
  transition: all 0.1s ease;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  margin-top: 50px;
}

.snippet-content {
  margin-top: 40px;
}

.site-snippet-button:hover {
  background-color: #8ae6ff;
  color: white;
}

.site-snippet-form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 61%;
}

.site-snippet-modal {
  min-width: 600px;
  background-color: #fafafa;
}

.site-snippet-form input,
select,
option,
textarea {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #fafafa;
  border: 2px solid #ececec;
}

select {
  margin-top: 50px;
}

textarea {
  font-family: inherit;
  font-size: 1rem;
}

.code-samples {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.code-samples div {
  margin-top: 20px;
}

.lang-icon {
  padding: 10px 15px;
  background-color: #1e1e1e;
  color: white;
  border-radius: 5px;
  margin-top: 10px;
}

.code-language {
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 900px) {
  .App {
    height: 100vh;
    display: grid;
    background-color: #fafafa;
    grid-template-columns: 15% 100px 200px auto 200px 100px 15%;
    grid-template-rows: 125px 1fr 1fr;
    grid-template-areas:
      "nav nav nav nav nav nav nav"
      ". content content content content content ."
      ". content content content content content .";
  }

  .site-nav {
    justify-content: space-around;
  }

  .site-nav img,
  .site-nav a {
    margin: 0;
  }

  .site-content {
    min-width: 100px;
  }

  .snippet-sample-container {
    display: flex;
    flex-direction: column;
  }

  .snippet-output {
    order: -1;
  }
}
